<app-navbar role="manager"></app-navbar>
<main class="p-6">
    <div *ngIf="isLoadingSettings">
        Loading Settings ...
    </div>
    <div *ngIf="errorMsg">
        {{errorMsg}}
    </div>
    <div>
        <h1>settings:</h1>
        <ul>
            <li *ngFor="let item of settings">
                {{item.delivery_distance}}, {{ item.discount}}, {{item.service_fee}}
            </li>
        </ul>
        <div *ngIf="isLoadingCodes">
            Loading Discount Codes ...
        </div>
        <table>
            <thead>
               <th>code</th>
               <th>percent</th>
               <th>amount</th> 
            </thead>
            <tr *ngFor="let item of codes">
                <td>{{item.code}}</td>
                <td>{{item.percent}}</td>
                <td>{{item.amount}}</td>
            </tr>
        </table>
    </div>
</main>
